<% lots_of_products = Product.includes(:user).all %>
<ul>
  <% lots_of_products.each do |p| %>
    <li>
      <%= p.name %>  costs  $: <%=p.price%>
     Sold by <%= p.user.name %>
     </li>
   <% end %>
</ul>
